@(items: List[models.StockItem])

@main("Stock List") {

   <h1>Stock List</h1>

    <a href="@routes.StockItems.create">New Item</a>
   <table>

       <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
        </tr>
       </thead>
       <tbody>
            @items.map { item =>
                <tr>
                    <td>@item.id.get.stringify</td>
                    <td>
                        <a href="@routes.StockItems.view(item.id.get.stringify)">@item.name</a>
                    </td>
                    <td>@item.quantity</td>
                    <td>
                        <a href="@routes.StockItems.edit(item.id.get.stringify)">Edit</a>
                        <a href="@routes.StockItems.delete(item.id.get.stringify)">Delete</a>
                    </td>
                </tr>
            }
       </tbody>
   </table>

}
