@(items: List[models.StockItem])

@main("Stock List") {

   <h1>Stock List</h1>

   <table>

       <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
       </thead>
       <tbody>
            @items.map { item =>
                <tr>
                    <td>@item.id</td>
                    <td>
                        <a href="@routes.StockItem.view(item.id)">@item.name</a>
                    </td>
                    <td>@item.quantity</td>
                </tr>
            }
       </tbody>
   </table>
    
}
